*{
    font-family: 'Montserrat', sans-serif;
  }
  /* Reset dos espaçamentos do parágrafo */
  .paragrafo{
    margin: 0 !important;
    padding: 0 !important;
  }
  
  /* Barra de Navegação */
  .mynav a{
    margin-right: 15px;
  }
  .mynav{
    background-color: transparent !important;
    transition: ease-in-out 100ms;
    height: 80px;
    
  }
  .mynav.scrolled{  
    background-color: white !important;
  }
  .logo{
     height: 80px;
  }
  .nav-item{
    font-size: 13px; 
    font-weight: bolder;
    margin: 10px;
  }
  .nav-link:hover, .active{
    color: #2AACE3 !important;
  }

/* Configuração de texto */
.texto{
  padding: 20px;
  color: white;
  font-size: 20px;
  text-align: justify;
}
.titulo{
  font-size: 30px;
  color: white;
  padding: 0;
  margin: 0;
  font-weight: bolder;
  text-align: center;
}

  /* Linha horizontal */
hr {
  color: #ff570e;
  background-color: #ff570e;
  height: 3px !important;
  margin-top: 5px !important;
}
#hr {
  color: #2AACE3 !important;
  background-color: #2AACE3 !important;
  height: 3px !important;
  width: 100%;
  margin-top: 5px !important;
}
  /* Botões */
  .botao{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button span{
    color: white;
    font-weight: bolder;
    font-size: 20px;
  }
  #btninsta button{
      width: 300px;
      padding: 5px 0;
      background-color: #2AACE3;
      border: 2px solid #2aabe3;
      box-shadow: 0px 0px 10px #00000059;
      border-radius: 30px;
      transition: border 1s, color 1s, background-color 1s;
  }
  #btninsta button:hover{
    border: 2px solid #ff570e;
  }

  #btnblog button{
    width: 300px;
    padding: 5px 0;
    background-color: #fdcb01;
    border: 2px solid #fdcb01;
    box-shadow: 0px 0px 10px #00000059;
    border-radius: 30px;
    transition: border 1s, color 1s, background-color 1s;
}
#btnblog button:hover{
  border: 2px solid #2AACE3;
}

  /* Imagem inicial */
.jumbotron1 {
    background-image: url('../imagens/bgroundNA.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    min-height: 95vh;
    margin: 0px !important;
  }
/* Section 1 - Laranja */
.laranja{
  background-color: #FF570E;
  min-height: 30vh;
  padding: 30px;
  display: flex;
}
.caixatexto1{
  width: 65%;
}
.caixatexto1{
  padding: 0 0px 40px 0px;
}
.caixaimg1{
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.caixaimg1 img{
  width: 350px;
  position: relative;
  top: -10%;
}

/* Section 2 - Azul */
.azul{
  background-color: #00A7D3;
  min-height: 30vh;
  padding: 30px;
  display: flex;
}
.caixatexto2{
  width: 60%;
}
.caixaimg2{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.caixaimg2 img{
  width: 100%;
  display: flex;
}

/* Section 3 - Amarela */
.amarelo{
  background-color: #fdcb01;
  min-height: 30vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulodep{
  padding: 20px;
}
.caixadep{
  display: flex;
  flex-direction: column;
}
.caixacard{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.carddep{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  margin: 10px 30px;
}
.imgdep{
  border: 4px solid #00A7D3;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#card1{
  background-image: url("../imagens/vick.png");
}
#card2{
  background-image: url("../imagens/erick.png");
}#card3{
  background-image: url("../imagens/menina.png");
}

/* Rodapé */
 footer{
    color: slategrey;
    padding: 60px 0px 80px 0px;
    font-size: 13px;
    background-color: #e9e9e9;
  }
  .rodape-imagem{
  height: 116px;
  }
  .contatos-rodape > a, .contatos-rodape > a:hover{
    text-decoration: none;
  }
  .contatos-rodape > a > label{
    text-decoration: none;
    color: slategrey;
  }
  .email{
    text-decoration: none;
    color: slategrey;
  }
  .email:hover{
  text-decoration: none;
  color: slategrey;
  }
  .contatos-rodape > a > img{
    width: 60px;
    margin-right: 10px;
    filter: drop-shadow(0 0 20px rgba(112, 128, 144, 0.616));
  }
  .contatos-rodape > a > img:hover{
    width: 60px;
    margin-right: 10px;
    filter: drop-shadow(2px 2px 10px slategrey);
  }
  label{
  cursor: pointer;
  }
  .rodape-p > p{
  padding: 0px;
  margin: 0px;
  }
  .rodape-autores{
  margin-top: 40px;
  text-align: center;
  }

/* RESPONSIVO */
  @media only screen and (max-width: 1200px){

    .logo{
      height: 60px;
    }
    .jumbotron1 {
      background-image: url('../imagens/bgroundNA.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: scroll;
      min-height: 70vh;
      margin: 0px !important;
    }
  }

  @media only screen and (max-width: 995px) {
    
    .jumbotron1 {
      background-image: url('../imagens/bgroundNA.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: scroll;
      min-height: 60vh;
      margin: 0px !important;
    }
    
    .caixaimg1 img{
      width: 350px;
      position: relative;
      top: 0;
    }
    .rodape-imagem{
      height: 100px;
    }
    .contatos-rodape img{
      margin-bottom: 5px;
    }
    .caixacard{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 750px;
    }
    .carddep{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 600px;
      margin: 10px 30px;
    }
    /* Section 2 - Azul */
    .azul{
      background-color: #00A7D3;
      min-height: 30vh;
      padding: 30px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
    .caixatexto2{
      width: 70%;
    }
    .caixaimg2{
      margin-top: 20px;
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .caixaimg2 img{
      width: 100%;
      display: flex;
    }
  }
  
  @media only screen and (max-width: 767px){
    /* Barra menu */
    .menu{
      background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.85));
      opacity: .9;
      border-radius: 4px;
      border: 3px solid white;
    }
    .jumbotron1 {
      background-image: url('../imagens/bgroundNA.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: scroll;
      min-height: 50vh;
      margin: 0px !important;
    }
    /*  */
    .laranja{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .azul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .caixatexto1, .caixatexto2{
      width: 100%;
    }

  }
  
  @media only screen and (max-width: 660px){
    
    .jumbotron1 {
      background-image: url('../imagens/bgroundNA.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: scroll;
      min-height: 35vh;
      margin: 0px !important;
    }
    
    .caixadep{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      margin: 20px;
    }
    .caixacard{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 5% !important;
    }
    .carddep{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 400px;
      margin: 10px 30px;
    }
    .imgdep{
      border: 4px solid #00A7D3;
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
  }

  @media only screen and (max-width: 460px){
    
    .jumbotron1 {
      background-image: url('../imagens/bgroundNA.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: scroll;
      min-height: 30vh;
      margin: 0px !important;
    }
    
    .carddep{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 285px;
      margin: 10px 30px;
    }
    .imgdep{
      border: 4px solid #00A7D3;
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
    .textodep{
      width: 90%;
    }
    #btnblog button{
      width: 250px;
      padding: 5px 0;
      background-color: #ff570e;
      border: 2px solid #ff570e;
      box-shadow: 0px 0px 10px #00000059;
      border-radius: 30px;
      transition: border 1s, color 1s, background-color 1s;
  }
  #btninsta button{
    width: 250px;
    padding: 5px 0;
    background-color: #2aabe3;
    border: 2px solid #2aabe3;
    box-shadow: 0px 0px 10px #00000059;
    border-radius: 30px;
    transition: border 1s, color 1s, background-color 1s;
}
}